<div>
   <!------------------------- 1. Row above the table with search box, export buttons, and page size drop-down --------------------------------- -->
   <div class="box col-sm-12" style="padding:0">
      <div class="col-sm-4 page-size-div" ng-if="::features.pageSize">
         <!----------- 1.A Division for page size drop-down --------- -->
         <span translate="pagination.displayed"></span>
         <select id="pageSizeDrop"
                 ng-options="size for size in pageSizeOptions.pageSizeMenu track by size"
                 ng-model="paginationX.pageSize"
                 name="pageSize"
                 ng-change="changePageSize()"/>
         <span translate="pagination.records"></span>
      </div>
      <div class="col-sm-3 export-div" ng-if="::features.export">
         <!----------- 1.B Division for export buttons --------- -->
         <span ng-repeat="option in ::exportOptions" ng-click="export(option)"
            ng-class="{'pagination-buttons active export-buttons {{::option.type}} {{::option.records}}':listForDisplay.length > 0,'pagination-buttons inactive export-buttons':listForDisplay.length == 0}"> {{::option.label}} </span>
      </div>
      <div class="col-sm-3 search-div" ng-if="::features.search">
         <!----------- 1.C Division for search box --------- -->
         <input ng-model="paginationX.searchText"
                ng-change="search()"
                placeholder="{{'pagination.search' | translate}}"
                type="text"
                class="form-control"
                id="search"/>
      </div>
      <div class="col-sm-3 col-search-div" ng-if="::features.columnSearch">
         <!----------- 1.D Division for search box --------- -->
         <span ng-click="toggleColumnSearch()" class="pagination-buttons active"> {{::features.colSearchLabel || 'Col Search'}} </span>
      </div>
   </div>

   <!------------------------- 2. Row for table -------------------------------------------------------------------------------------------------- -->
   <table></table>

   <!------------------------- 3. Row for no-data message ---------------------------------------------------------------------------------------- -->
   <div ng-if="listForDisplay.length < 1" class="no-data-message-style" translate="pagination.nothing"></div>

   <!------------------------- 4. Row for pagination text and pagination toolbar ----------------------------------------------------------------- -->
   <div>
      <!----------- 4.A Span for pagination text ----------------------------- -->
      <Span ng-if="listForDisplay.length && features.paginationText">
         {{'pagination.shown' | translate}} {{'pagination.from' | translate}} {{paginationX.startIndex+1}}
         {{'pagination.to' | translate}} {{paginationX.endIndex}}
         {{'pagination.total' | translate}} {{listForDisplay.length}} {{'pagination.records' | translate}}
         {{'pagination.delimiter' | translate}}
         {{'pagination.page' | translate}} {{paginationX.currentPage}}
         {{'pagination.total' | translate}} {{paginationX.totalPages}}
      </span>

      <!----------- 4.B Division for pagination toolbar with textbox --------- -->
      <div ng-if="listForDisplay.length && toolbarOptions.toolbarType=='textbox'" class="pagination-toolbar-div">
         <span  ng-click="setPage(1)" ng-class="{'pagination-buttons active':paginationX.currentPage !== 1,'pagination-buttons inactive':paginationX.currentPage === 1}">
            |<
         </span>
         <span ng-click="setPage(paginationX.currentPage - 1)" ng-class="{'pagination-buttons active':paginationX.currentPage !== 1,'pagination-buttons inactive':paginationX.currentPage === 1}">
            <<
         </span>
         <input id="toolbar-text" type="text" ng-model="paginationX.goToPage" ng-change="setPage(paginationX.goToPage)" size="4" class="pagination-textbox" >
         <span ng-click="setPage(paginationX.currentPage*1+1)" ng-class="{'pagination-buttons active':paginationX.currentPage !== paginationX.totalPages,'pagination-buttons inactive':paginationX.currentPage === paginationX.totalPages}">
            >>
         </span>
         <span ng-click="setPage(paginationX.totalPages)" ng-class="{'pagination-buttons active':paginationX.currentPage !== paginationX.totalPages,'pagination-buttons inactive':paginationX.currentPage === paginationX.totalPages}">
            >|
         </span>
      </div>

      <!----------- 4.C Division for pagination toolbar with links ---------- -->
      <div ng-if="listForDisplay.length && toolbarOptions.toolbarType=='link'" class="flex flex-justify-center">
         <ul class="pagination">
            <li><a ng-click="setPage(1)" ng-class="{true:'pagination-buttons active', false:'pagination-buttons inactive'}[paginationX.currentPage !== 1]" translate="pagination.begin"></a></li>
            <li><a ng-click="setPage(paginationX.currentPage - 1)" ng-class="{true:'pagination-buttons active', false:'pagination-buttons inactive'}[paginationX.currentPage !== 1]" translate="pagination.prev"></a></li>
            <li><a ng-click="setPageLinks(toolbarOptions.startPage - toolbarOptions.linkSize)" ng-class="{true:'pagination-buttons active', false:'pagination-buttons inactive'}[toolbarOptions.startPage !== 1]"><-</a></li>

            <li><a ng-repeat="link in toolbarOptions.links" ng-click="setPage(link)" ng-class="{true:'pagination-buttons active', false:'pagination-buttons inactive'}[link !== paginationX.currentPage]">{{::link}}</a></li>

            <li><a ng-click="setPageLinks(toolbarOptions.startPage + toolbarOptions.linkSize)" ng-class="{true:'pagination-buttons active', false:'pagination-buttons inactive'} [(toolbarOptions.startPage + toolbarOptions.links.length) <= paginationX.totalPages]">-></a></li>
            <li><a ng-click="setPage(paginationX.currentPage*1+1)" ng-class="{true:'pagination-buttons active', false:'pagination-buttons inactive'}[paginationX.currentPage !== paginationX.totalPages]" translate="pagination.next"></a></li>
            <li><a ng-click="setPage(paginationX.totalPages)" ng-class="{true:'pagination-buttons active', false:'pagination-buttons inactive'}[paginationX.currentPage !== paginationX.totalPages]" translate="pagination.end"></a></li>
         </ul>
      </div>
   </div>
   <br><br>
   <hr class="button-hr">
</div>