
<section>
    <div class="box box-inner box-content">
       <legend translate = "settings.changePassword.title"></legend>
        <fieldset>
            <div class="row-block">
                <div class="col-sm-7" style="display:inline-flex;">
                    <ng-input style="margin-right:1%;"
                              ng-model="vm.password"
                              ng-label="{{'settings.changePassword.password' | translate}}"
                              ng-placeholder="{{'settings.changePassword.password' | translate}}"
                              ng-required="true"
                              type="password"
                    />
                </div>
                <div class="col-sm-7" style="display:inline-flex;">
                    <ng-input style="margin-right:1%;"
                              ng-model="vm.newPassword"
                              ng-label="{{'settings.changePassword.newPassword' | translate}}"
                              ng-placeholder="{{'settings.changePassword.newPassword' | translate}}"
                              ng-required="true"
                              type = "password"
                    />
                </div>
                <div class="col-md-7" style="display:inline-flex;">
                    <ng-input style="margin-right:1%;"
                              ng-model="vm.confirm"
                              ng-label="{{'settings.changePassword.confirm' | translate}}"
                              ng-placeholder="{{'settings.changePassword.confirm' | translate}}"
                              ng-required="true"
                              type="password"
                    />
                </div>
                <div class="col-sm-6" style="display:inline-flex;">
                    <div>
                        <a  ng-click="vm.saveChange()"
                            class="btn btn-primary"
                            translate="settings.changePassword.submit"
                        />
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
 </section>