<section>
    <h2 style="margin-top: 0;" translate="settings.title"></h2>

    <div class="box box-inner box-content">
        <div style="width:50%" ng-repeat="item in vm.items">
            <ng-input ng-model="item.value"
                      ng-required="true"
                      ng-label="{{item.name}}"
                      ng-placeholder="{{item.name}}"
            />
        </div>
    </div>

    <button class="btn btn-primary btn-md"
            ng-click="vm.save()"
            translate="settings.save"
    />
</section>