.custom-combobox {
    position: relative;
    display: inline-block;
}

.custom-combobox-toggle {
    position: absolute;
    top: 2px;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* support: IE7 */
    *height: 1.7em;
    *top: 0.1em;
}

.custom-combobox-input {
    margin: 0;
    /* padding: 0.3em; */
}

.error .custom-combobox-input {
    border-bottom: 1px solid #FF0000;
    border-left: 1px solid #FF0000;
    border-top: 1px solid #FF0000;
}


.error .custom-combobox-toggle {
    border-bottom: 1px solid #FF0000;
    border-right: 1px solid #FF0000;
    border-top: 1px solid #FF0000;
}