<div class="form-group full-width" ng-class="{'has-error' : valid == false, 'has-success': valid == true}">
    <label class="control-label" ng-if="ngLabel!=null">{{ngLabel}}:<span ng-if="ngRequired">*</span></label>
    <textarea   ng-model="ngModel"
                ng-change="validate()"
                ng-disabled="ngDisabled"
                type="text"
                placeholder="{{ngPlaceholder}}"
                class="form-control"></textarea>
    <small class="help-block" ng-if="valid == false">{{message}}</small>
</div>